{% extends "base.html" %}
{% block body %}
<br>
<br>
<a href="/">Home</a>
<br>
<br>



<div class='form'>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        {{ form.Type.label }} {{ form.Type }} 
        <br>
        {{ form.Description.label }} {{ form.Description }} 
        <br>
        {{ form.Date.label }} {{ form.Date }} 
        <br>

        {% if form.Amount.errors %}
            {{ form.Amount.label }} {{ form.Amount (placeholder = "Ex: 5.32")}} 
            {% for error in form.Amount.errors %}
                <p >{{ error }}</p>
            {% endfor%}
            
            {% else %}
            {{ form.Amount.label }} {{ form.Amount (placeholder = "Ex:5.32")}} 
        {% endif %}
        
        <br>
        <br>
        <br>
        {{ form.Add}}
    </form>
</div>




{% endblock body %}



