{% extends "base.html" %}
{% block body %}


{% if expenses%}
<p>Hello, {{ name_user }}</p>
<table>
    <tr>
        <th>Type</th>
        <th>Description of the expense</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Action</th>
    </tr>
    {% for expense in expenses %}
    <tr>
        <td>{{ expense.type_expense }}</td>
        <td>{{ expense.description_expense }}</td>
        <td>{{ expense.date_purchase }}</td>
        <td>{{ expense.amount }}</td>
        <td><a href="/mod_expense?user={{ name_user }}&id={{expense.expense_id}}">Edit/Delete</a></td>

    </tr>
    {% endfor %}

    

</table>
<p> would you like to add a new expense?</p>

    <a href="/add_expense?user={{ name_user }}"> Add expenses</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">Home</a>
{% else%}
<p> {{ name_user }}, would you like to start adding expenses?</p>

<a href="/add_expense?user={{ name_user }}"> Add expenses</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">Home</a>

{% endif %}


{% endblock body %}