{% extends "base.html" %}
{% block body %}

<br>
<br>

{% if users%}

<table>
    <tr>
        <th>Users</th>
    </tr>
    {% for user in users%}
    <tr>
        
        <td><a href="/expenses?user={{ user.name }}">{{ user.name }}</a></td>
        
    </tr>
    
    {% endfor %}
    
</table>
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/add_user">Add a new user</a>
{% else%}
<p> Ready to track your expenses?</p>

<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/add_user">Create your account</a>

{% endif %}

{% endblock body %}