{% extends "base.html" %}
{% block body %}
<p>Add_expense_template</p>

<div class='form'>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        {{ form.Type.label }} {{ form.Type }} 
        <br>
        {{ form.Description.label }} {{ form.Description }} 
        <br>
        {{ form.Date.label }} {{ form.Date }} 
        <br>
        {{ form.Amount.label }} {{ form.Amount }} 
        <br>

        {{ form.Save_changes}}
        {{ form.Delete}}
    </form>
</div>

{% endblock body %}